@tailwind base;
@tailwind components;
@tailwind utilities;


.form input{
  margin-top: 5em;
  margin-left: 30px;
  /* padding: 3px; */
  width: 450px;
  height: 50px;
}
.contact{
  height: 70vh;
}
.img{
  height: 70vh;
  width: 30vw;
}
li{
  text-decoration: none;
}